.acesso{
    font-family: 'Jomhuria';
    font-size: 400%;
    letter-spacing: 2px;
    color: white;
    margin-left: 37%;
    margin-top: 20%;
}

.logo_app{
    margin-top:2%;
    margin-left: 41%;
}